@page "/extract"
@layout MainLayout
@inherits Sde3.Pages.ExtractComponent

@using Radzen
@using Radzen.Blazor
@using Sde3.Models.Sde
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Extract">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getExtractsResult" Count="@getExtractsCount" TItem="Sde3.Models.Sde.Extract" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect" RowExpand="@Grid0RowExpand">
          <Columns>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Property="ExtractId" Title="Extract Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Property="Name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Property="ExternalCode" Title="External Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Property="IsActive" Title="Is Active">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sde3.Models.Sde.Extract" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sde3ModelsSdeExtract">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sde3ModelsSdeExtract))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
          <Template Context="sde3ModelsSdeExtract">
            <RadzenHeading Size="H1" Text="Parameters">
            </RadzenHeading>
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@((args) =>ParameterAddButtonClick(args, sde3ModelsSdeExtract))">
            </RadzenButton>
            <RadzenGrid @ref="grid1" Data="@(sde3ModelsSdeExtract.Parameters)" AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="Sde3.Models.Sde.Parameter" FilterMode="FilterMode.Advanced" RowSelect="@((args) =>Grid1RowSelect(args, sde3ModelsSdeExtract))">
              <Columns>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Property="ParameterId" Title="Parameter Id">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Property="ExtractId" SortProperty="Extract.Name" FilterProperty="Extract.Name" Title="Extract">
                  <Template Context="data">
                  @(data.Extract?.Name)
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Property="Name" Title="Name">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Property="Alias" Title="Alias">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Property="Description" Title="Description">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Sde3.Models.Sde.Parameter" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                  <Template Context="sde3ModelsSdeParameter">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>ParameterDeleteButtonClick(args, sde3ModelsSdeParameter))" @onclick:stopPropagation="true">
                    </RadzenButton>
                  </Template>
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
          </Template>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
